{% extends 'auth_base.html' %}

{% block content %}

<div class="auth-card">
    
<div class="login-header">
    <img
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxUX7v2eHhqbGTWNjWr4FMwI6K8fNbvPpIzw&s"
    alt="Synclature"
    class="login-logo">

    <h3 class="login-title text-center">ISO 27001 GRC Portal</h3>
</div>

    {% if error %}
    <div class="alert alert-danger">
        {{ error }}
    </div>
    {% endif %}

    <form action="/login" method="POST">

        <div class="mb-3">
            <input type="text" name="username" class="form-control" placeholder="Username" required>
        </div>

        <div class="mb-3">
            <input type="password" name="password" class="form-control" placeholder="Password" required>
        </div>

        <button type="submit" class="btn login-btn w-100">Login</button>

    </form>
</div>

{% endblock %}